* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
    font-family: "Inter", sans-serif;
}

header {
    background-color: #FFFFFF;
    width: 100%;
    height: 92px;
    max-width: 1600px;
}

nav {
    padding: 20px 0;
}

.container {
    display: flex;
    padding: 16px 120px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.container .logo img {
    width: 139px;
    height: 60px;

}

.menu {
    width: 365px;
    height: 24px;
    display: flex;
    list-style: none;
    gap: 32px;
    text-align: center;
}

nav .menu a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    line-height: 152%;
    opacity: 90%;
}

.btn {
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px; 
    border: none;
    width: 164px;
    height: 44px;
    padding: 12.5px 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
}

#banner {
    max-width: 1600px;
    min-height: 90vh;
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 0 auto;

}

.banner-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 25, 49, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 120px;
}

.banner-content .badge {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-radius: 1000px;
    margin-bottom: 24px;
}


.banner-content h1 {
    opacity: 90%;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
}

.banner-content h1 .str {
    color: #FFFFFF;
}

.banner-content h1 .note {
    color: #30B868;
}

.banner-content p {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px;
}

.idea {
    display: flex;
    gap: 16px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.btn1 button {
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    width: 251px;
    height: 52px;
    padding: 12.5px 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
}

.btn2 button {
    background: transparent;
    border: 1px solid white;
    color: #FFFFFF;
    width: 198px;
    height: 52px;
    padding: 16.5px 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
}

.issue {
    padding: 96px 0;
    justify-content: center;
}

.title {
    width: 100%;
    max-width: 1360px;
    text-align: center;
    margin: 0 auto 72px;
}

.title h2 {
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.title p {
    color: #627382;
    font-size: 16px;
    line-height: 24px;
    max-width: 640px;
    margin: 0 auto;
}

.issue-box {
    display: flex;
    max-width: 1360px;
    gap: 24px;
    margin: 0 auto;
    justify-content: center;

}

.issue-box .box-card {
    width: 322px;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 32px;
}

.box-card .icon {
    height: 60px;
    width: 60px;
    background-color: rgba(249, 85, 85, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.box-card .icon img {
    width: 24px;
    height: 24px;
}

.issue-box .box-card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 12px;
}

.issue-box .box-card p {
    color: #627382;
    font-size: 14px;
    line-height: 20px;
}

.solution-container {
    width: 100%;
    background-color: #FFFFFF;
    padding: 80px 0;
}

.solution-container .solution-frame {
    max-width: 1360px;
    display: flex;
    gap: 80px;
    align-items: center;
    margin: 0 auto;
}

.solution-frame img {
    width: 560px;
    border-radius: 12px;
}

.solution-instruction {
    max-width: 560px;

}

.solution-instruction h4 {
    font-size: 14px;
    color: #469165;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 16px;
    line-height: 20px;
}

.solution-instruction h2 {
    color: #001931;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 24px;
}

.solution-instruction p {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
}

.solution-instruction ul {
    list-style: none;
}

.solution-instruction ul li {
    color: #001931;
    font-size: 16px;
    line-height: 20px;
    padding-left: 28px;
    margin-bottom: 16px;
}

.early-access {
    padding: 80px 0;
}

.early-access-container {
    background-color: #F7F6F2;
    padding: 80px 120px;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    border-radius: 12px;
}

.early-access-container h2 {
    color: #001931;
    font-size: 40px;
    margin-bottom: 16px;
}

.early-access-container p {
    color: #627382;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.early-access-container .btn1 {
    margin-bottom: 24px;
}

.footer {
    background-color: #001931;
}

.final {
    max-width: 1360px;
    margin: 0 auto;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 64px 120px;
    align-items: center;
}

.final .logo img {
    height: 40px;
}

.final h5 {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 12px;
}

.final .logos i {
    color: white;
    width: 36px;
    border-radius: 50%;
    gap: 16px;

}

.copyright {
    max-width: 1360px;
    margin: 0 auto;
    color: #FAFAFA;
    text-align: center;
    padding: 24px 120px 40px;
}

.copyright p {
    font-size: 14px;
    line-height: 20px;
    color: #FAFAFA;
}